# Base
PORT=
ENV=''
DATABASE_URL="postgresql://USER:PASSWORD@HOST:PORT/DATABASE?schema=SCHEMA"
JWT_SECRET=''
VALID_ORIGIN=''

# Docker
DB_CONTAINER_NAME=''
DB_USER=''
DB_PASS=''
DB_NAME=''
DB_HOST_PORT=''

PG_CONTAINER_NAME=''
PG_EMAIL=''
PG_PASS=''
PG_PORT=''